{{!-- КК9 | Карточка призывного демона --}}
<form class="kk9-sheet item-sheet demon-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <input class="name-input" type="text" name="name" value="{{item.name}}" />
      <label class="summoned-toggle">
        <input type="checkbox" name="system.summoned" {{#if system.summoned}}checked{{/if}} />
        Призван сейчас
      </label>
    </div>
  </header>

  <div class="sheet-body">
    <section class="demon-attributes">
      <h4>Атрибуты демона</h4>
      {{#each system.attributes as |attr key|}}
      <div class="attribute-row">
        <label>{{key}}:</label>
        <select name="system.attributes.{{key}}.die" class="die-select-sm">
          <option value="4"  {{#if (eq attr.die 4)}}selected{{/if}}>d4</option>
          <option value="6"  {{#if (eq attr.die 6)}}selected{{/if}}>d6</option>
          <option value="8"  {{#if (eq attr.die 8)}}selected{{/if}}>d8</option>
          <option value="10" {{#if (eq attr.die 10)}}selected{{/if}}>d10</option>
          <option value="12" {{#if (eq attr.die 12)}}selected{{/if}}>d12</option>
        </select>
      </div>
      {{/each}}
    </section>

    <div class="stat-row">
      <label>Стойкость:</label>
      <input type="number" name="system.health.toughness" value="{{system.health.toughness}}" class="small-input" />
    </div>
    <div class="form-group">
      <label>Способности:</label>
      <textarea name="system.abilities" rows="3">{{system.abilities}}</textarea>
    </div>
    <div class="form-group">
      <label>Условие призыва:</label>
      <input type="text" name="system.summon_condition" value="{{system.summon_condition}}" />
    </div>
    <div class="form-group">
      <label>Стоимость призыва:</label>
      <input type="text" name="system.summon_cost" value="{{system.summon_cost}}" />
    </div>
    <div class="form-group">
      <label>Описание:</label>
      {{editor system.description target="system.description" button=true editable=editable}}
    </div>
  </div>
</form>
