{{!-- Шкалы здоровья v2.1 --}}
<div class="health-tracks">

  {{!-- Физическое --}}
  <div class="health-track">
    <div class="track-header">
      <span class="track-label">Физическое состояние</span>
      <span class="health-state-badge state-{{system.health.physical.value}}">
        {{healthLabel system.health.physical.value}}
      </span>
    </div>
    <div class="track-pips">
      {{#times 5}}
      <div class="health-pip {{#if (gte ../system.health.physical.value this)}}pip-filled pip-phys-{{this}}{{else}}pip-empty{{/if}}"
           data-track="physical" data-value="{{this}}"
           title="{{healthLabel this}}">
        <span class="pip-txt">{{healthLabel this}}</span>
      </div>
      {{/times}}
    </div>
  </div>

  {{!-- Ментальное --}}
  <div class="health-track">
    <div class="track-header">
      <span class="track-label">Ментальное состояние</span>
      <span class="health-state-badge state-mental-{{system.health.mental.value}}">
        {{mentalLabel system.health.mental.value}}
      </span>
    </div>
    <div class="track-pips">
      {{#times 5}}
      <div class="health-pip {{#if (gte ../system.health.mental.value this)}}pip-filled pip-ment-{{this}}{{else}}pip-empty{{/if}}"
           data-track="mental" data-value="{{this}}"
           title="{{mentalLabel this}}">
        <span class="pip-txt">{{mentalLabel this}}</span>
      </div>
      {{/times}}
    </div>
  </div>

</div>

{{!-- Активные статусы --}}
<div class="actor-statuses-section actor-status-drop" title="Перетащи статус-итем сюда">
  <div class="actor-statuses-header">
    <span class="actor-statuses-title">Активные статусы</span>
    <span class="actor-statuses-hint">перетащи статус-итем</span>
  </div>
  {{#if activeStatuses.length}}
  <div class="actor-statuses-list">
    {{#each activeStatuses as |st|}}
    <div class="actor-status-row" data-item-id="{{st.id}}">
      <div class="actor-status-body">
        <span class="actor-status-name item-name-click" style="cursor:pointer">{{st.name}}</span>
        <span class="actor-status-dur">
          {{#if (eq st.duration_mode "counter")}}{{st.duration_value}} раунд.
          {{else if (eq st.duration_mode "charges")}}{{st.duration_value}} зар.
          {{else}}время{{/if}}
        </span>
        {{#if st.status_types.length}}
        <span class="actor-status-tags">
          {{#each st.status_types as |t|}}
          <span class="actor-status-tag">{{statusTypeLabel t}}</span>
          {{/each}}
          {{#if st.apply_stun}}<span class="actor-status-tag actor-status-tag--stun">Стан</span>{{/if}}
        </span>
        {{/if}}
      </div>
      {{#if ../isGM}}
      <button type="button" class="actor-remove-status actor-status-del-btn"
              data-item-id="{{st.id}}">✕</button>
      {{#if (includes st.status_types "debt_fate")}}
      <button type="button" class="actor-apply-status actor-status-apply-btn"
              data-item-id="{{st.id}}" title="Применить эффект">▶</button>
      {{else if (includes st.status_types "debt")}}
      <button type="button" class="actor-apply-status actor-status-apply-btn"
              data-item-id="{{st.id}}" title="Применить эффект">▶</button>
      {{else if (eq st.duration_mode "time")}}
      <button type="button" class="actor-apply-status actor-status-apply-btn"
              data-item-id="{{st.id}}" title="Применить эффект">▶</button>
      {{/if}}
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="actor-statuses-empty">Нет активных статусов</div>
  {{/if}}
</div>
