{{!-- Снаряжение --}}
<section class="items-section">

  {{!-- Артефакты --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Артефакты</span>
      <button type="button" class="item-create btn-add-sm" data-type="artifact">+</button>
    </div>
    {{#each artifacts}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      <span class="item-badge rarity-{{this.system.rarity}}">{{this.system.rarity}}</span>
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет артефактов</p>{{/each}}
  </div>

  {{!-- Заклинания --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Заклинания</span>
      <button type="button" class="item-create btn-add-sm" data-type="spell">+</button>
    </div>
    {{#each spells}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      <span class="item-meta">{{this.system.range}}</span>
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет заклинаний</p>{{/each}}
  </div>

  {{!-- Демоны --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Призывные демоны</span>
      <button type="button" class="item-create btn-add-sm" data-type="demon">+</button>
    </div>
    {{#each demons}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      {{#if this.system.summoned}}<span class="item-badge badge-summoned">Призван</span>{{/if}}
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет демонов</p>{{/each}}
  </div>

  {{!-- Абилки --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Уникальные абилки</span>
      <button type="button" class="item-create btn-add-sm" data-type="ability">+</button>
    </div>
    {{#each abilities}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      <span class="item-badge badge-{{this.system.type}}">{{this.system.type}}</span>
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет абилок</p>{{/each}}
  </div>

  {{!-- Спутники --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Спутники</span>
      <button type="button" class="item-create btn-add-sm" data-type="companion">+</button>
    </div>
    {{#each companions}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет спутников</p>{{/each}}
  </div>

  {{!-- Транспорт --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Транспорт</span>
      <button type="button" class="item-create btn-add-sm" data-type="companion" data-subtype="vehicle">+</button>
    </div>
    {{#each vehicles}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет транспорта</p>{{/each}}
  </div>

</section>
