{{!-- Снаряжение --}}
<section class="items-section">

  {{!-- Оружие --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Оружие</span>
      <button type="button" class="item-create btn-add-sm" data-type="weapon">+</button>
    </div>
    {{#each weapons}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      <span class="item-meta">{{this.system.damage}} · {{this.system.range}}</span>
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет оружия</p>{{/each}}
  </div>

  {{!-- Снаряжение --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Снаряжение</span>
      <button type="button" class="item-create btn-add-sm" data-type="gear">+</button>
    </div>
    {{#each gear}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      {{#if (gt this.system.quantity 1)}}<span class="item-meta">×{{this.system.quantity}}</span>{{/if}}
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет снаряжения</p>{{/each}}
  </div>

  {{!-- Артефакты --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Артефакты</span>
      <button type="button" class="item-create btn-add-sm" data-type="artifact">+</button>
    </div>
    {{#each artifacts}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      <span class="item-badge rarity-{{this.system.rarity}}">{{lookup (hash common="обычный" uncommon="необычный" rare="редкий" unique="уникальный") this.system.rarity}}</span>
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет артефактов</p>{{/each}}
  </div>

  {{!-- Заклинания --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Заклинания</span>
      <button type="button" class="item-create btn-add-sm" data-type="spell">+</button>
    </div>
    {{#each spells}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      <span class="item-meta">{{this.system.cost}} энергии</span>
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет заклинаний</p>{{/each}}
  </div>

  {{!-- Даймоны --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Даймоны</span>
      <button type="button" class="item-create btn-add-sm" data-type="daemon">+</button>
    </div>
    {{#each daemons}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      {{#if this.system.summoned}}<span class="item-badge badge-summoned">Призван</span>{{/if}}
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет даймонов</p>{{/each}}
  </div>

  {{!-- Тех. устройства --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Устройства</span>
      <button type="button" class="item-create btn-add-sm" data-type="device">+</button>
    </div>
    {{#each devices}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет устройств</p>{{/each}}
  </div>

  {{!-- Спутники --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Спутники</span>
      <button type="button" class="item-create btn-add-sm" data-type="companion">+</button>
    </div>
    {{#each companions}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет спутников</p>{{/each}}
  </div>

  {{!-- Транспорт --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Транспорт</span>
      <button type="button" class="item-create btn-add-sm" data-type="vehicle">+</button>
    </div>
    {{#each vehicles}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет транспорта</p>{{/each}}
  </div>


  {{!-- Контакты --}}
  <div class="item-group">
    <div class="item-group-header">
      <span class="item-group-title">Контакты</span>
      <button type="button" class="item-create btn-add-sm" data-type="contact">+</button>
    </div>
    {{#each contacts}}
    <div class="item-row" data-item-id="{{this.id}}">
      <img src="{{this.img}}" class="item-img" />
      <span class="item-name item-name-click">{{this.name}}</span>
      <span class="item-meta">Доступ: {{this.system.access_level}}</span>
      <button type="button" class="item-delete btn-delete-xs">✕</button>
    </div>
    {{else}}<p class="empty-hint">Нет контактов. Перетащи или создай.</p>{{/each}}
  </div>

</section>
